.windows {
    width: 499px;
    overflow: hidden;
}

.left_col {
    float: left;
}

.right_col {
    float: right;
}

.windows > .window {
    width: 499px;
    overflow: hidden;
    margin-top: 30px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
}

.windows > .window > .w_title {
    font-size: 18px;
    color: #444;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
}

.window > form > p {
    margin-bottom: 20px;
}

.window > form > p:last-child {
    margin-bottom: 0px;
}

.window > form > p > span {
    font-size: 14px;
    text-transform: uppercase;
}

.window > form > p > .text_field {
    width: 430px;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    color: #444;
}

.window > form > p > .btn {
    width: 472px;
    padding: 13px 30px;
    text-transform: uppercase;
    border-radius: 3px;
    border: 1px solid #1ABC9C;
    color: #1ABC9C;
    font-size: 15px;
    background: transparent;
}










