body {
    background: #f0f0f0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.user_profile {
    width: 300px;
    overflow: hidden;
    text-align: center;
}

.user_profile > #avatar {
    width: 240px;
    padding: 30px;
    background: #2D3E50;
}

.user_profile > #avatar > img{
    width: 150px;
    border-radius: 100px;
    margin: 0px auto;
    display: block;
    margin-bottom: 10px;
}

.user_profile > #avatar > .username {
    color: #e0e0e0;
    font-size: 17px;
    font-weight: bold;
}

.user_profile > #avatar > a > .avatar_btn {
    width: 250px;
    margin: 0px auto;
    margin-top: 10px;
    padding: 10px 0px;
    border: none;
    color: #b1b0b0;
    background: #3e5165;
    text-transform: uppercase;
    font-size: 13px;
}

.user_profile > #avatar > a > .avatar_btn:hover {
    cursor: pointer;
    background: #465a6f;
    transition: background, 0.5s;
}

.user_profile > .user_information {
    width: 300px;
    overflow: hidden;
    background: #fff;
    margin-top: 20px;
}

.user_profile > .user_information > .title {
    width: 260px;
    padding: 10px 20px;
    color: #e0e0e0;
    background: #2D3E50;
    text-align: left;
}

.user_profile > .user_information > .row {
    width: 260px;
    overflow: hidden;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
}

.user_profile > .user_information > .row > .name {
    float: left;
    color: #9c9c9c;
    font-size: 14px;
}

.user_profile > .user_information > .row > .value {
    float: right;
}

.user_action {
    width: 690px;
    overflow: hidden;
}

.user_action > .channel_info {
    width: 690px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 10px;
}

.user_action > .channel_info > .title {
    width: 650px;
    overflow: hidden;
    padding: 10px 20px;
    background: #2D3E50;
    color: #e0e0e0;
    text-align: left;
}

.user_action > .channel_info > .content {
    margin: 15px;
    line-height: 24px;
}

.user_action > .wall {
    width: 690px;
    overflow: hidden;
    background: #fff;
}

.user_action > .wall > .post {
    width: 670px;
    overflow: hidden;
    padding: 20px 10px;
    border-bottom: 1px solid #f0f0f0;
}

.user_action > .wall > .post > .avatar > img {
    width: 70px;
    height: 70px;
    border-radius: 150px;
}

.user_action > .wall > .post > .post_content {
    width: 582px;
    overflow: hidden;
    float: right;
}

.user_action > .wall > .post > .post_content > .username {
    color: #222222;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.user_action > .wall > .post > .post_content > .links {
    margin-top: 5px;
}

.user_action > .wall > .post > .post_content  > .links > .date {
    color: #9c9c9c;
}

.user_action > .wall > #posts_null {
    margin: 30px;
    text-align: center;
    font-size: 18px;
    color: #848484;
}

.user_action > .wall > .post_form {
    width: 670px;
    overflow: hidden;
    padding: 10px;
    background: #e0e0e0;
}

.user_action > .wall > .post_form > form > #post_text {
    width: 630px;
    padding: 15px 20px;
    border: none;
    color: #444;
    font-size: 14px;
    border-radius: 3px;
}

.user_action > .wall > .post_form > form > input[type="submit"] {
    width: 150px;
    margin: 0px auto;
    margin-top: 10px;
    padding: 10px 0px;
    border: none;
    color: #e0e0e0;
    background: #3e5165;
    text-transform: uppercase;
    font-size: 13px;
}

.user_action > .wall > .post_form > form > input[type="submit"]:hover {
    cursor: pointer;
    background: #465a6f;
    transition: background, 0.5s;
}

.user_action > .settings {
    width: 690px;
    overflow: hidden;
    background: #fff;
}

.settings > .content > h1{
    text-align: center;
    font-size: 21px;
    padding: 20px 30px;
}

.user_action > .settings > .title {
    width: 650px;
    overflow: hidden;
    padding: 10px 20px;
    background: #2D3E50;
    color: #e0e0e0;
    text-align: left;
}

.user_action > .settings > .content {
    width: 690px;
    overflow: hidden;
}

.user_action > .settings > .content > form > .row {
    width: 650px;
    overflow: hidden;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f0f0;
}

.user_action > .settings > .content > form > .row > .set_title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.user_action > .settings > .content > form > .row > .text_f {
    width: 610px;
    padding: 10px 20px;
    border: 1px solid #f0f0f0;
}

.user_action > .settings > .content > form > .row > #old_password {
    margin-bottom: 10px;
}

.user_action > .settings > .content > form > .row > input[type="submit"] {
    width: 250px;
    margin: 0px auto;
    margin-top: 10px;
    padding: 10px 0px;
    border: none;
    color: #e0e0e0;
    background: #3e5165;
    text-transform: uppercase;
    font-size: 13px;
}

.user_action > .settings > .content > form > .row > input[type="submit"]:hover {
    cursor: pointer;
    background: #465a6f;
    transition: background, 0.5s;
}

.user_action > .settings > .content > form > .alert {
    width: 690px;
    padding: 15px 0px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.user_action > .settings > .content > form > .alert-success {
    background: #1ABC9C;
}

.user_action > .settings > .content > form > .alert-danger {
    background: #EB6B56;
}


.user_action > .settings > .content > form > .row > .description{
    margin-top: 5px;
    color: #afafaf;
    font-size: 12px;
}

.content > .question {
    padding: 20px;
    border-bottom: 2px solid #f0f0f0;
}

.content > .question > .question_container {
    overflow: hidden;
}

.content > .question > .question_container > .avatar {
    width: 60px;
}

.content > .question > .question_container > .avatar >  img {
    width: 60px;
    border-radius: 100px;
}

.content > .question > .question_container >  .avatar, .q_content {
    display: inline-block;
}

.content > .question > .question_container >  .q_content {
    width: 575px;
    float: right;
    text-align: left;
}

.content > .question > .question_container >  .q_content > .nick {
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 3px;
}

.content > .question > .question_container >  .q_content > .text {
    letter-spacing: 0.8px;
}

.content > .question > .question_container >  .q_content > .info {
    margin-top: 3px;
    color: #9099a3;
    font-size: 13px;
}

.content > .question > .answer {
    margin-top: 10px;
    overflow: hidden;
}

.content > .question > .answer > .not_answered {
    text-align: center;
    color: #848484;
    text-transform: uppercase;
    margin-top: 20px;
}

.content > .question > .answer > .title{
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 15px;
}

.content > .question > .answer > .avatar, .ans_content {
    display: inline-block;
}

.content > .question > .answer > .avatar {
    width: 60px;
}

.content > .question > .answer > .avatar > img {
    width: 60px;
    border-radius: 100px;
}

.content > .question > .answer > .ans_content {
    width: 575px;
    float: right;
    text-align: left;
}

.content > .question > .answer > .ans_content > .nick {
    color: #333;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 5px;
}

.content > .question > .answer > .ans_content > .text {
    letter-spacing: 0.8px;
}

.answer > form > .text_field{
    width: 608px;
    height: 30px;
    overflow: hidden;
    padding: 15px 20px;
    color: #444;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    font-size: 13px;
}

.answer > form > input[type='submit'] {
    width: 150px;
    margin: 0px auto;
    margin-top: 10px;
    padding: 10px 0px;
    border: none;
    color: #e0e0e0;
    background: #3e5165;
    text-transform: uppercase;
    font-size: 13px;
}

.answer > form > input[type="submit"]:hover {
    cursor: pointer;
    background: #465a6f;
    transition: background, 0.5s;
}

#avatar > form > #post_balance{
    width: 250px;
    margin: 0px auto;
    margin-top: 10px;
    padding: 10px 0px;
    border: none;
    color: #b1b0b0;
    background: #3e5165;
    text-transform: uppercase;
    font-size: 13px;
}

#avatar > form > #post_balance:hover {
    cursor: pointer;
    background: #465a6f;
    transition: background, 0.5s;
}

#avatar > form > #balance_sum > #balance_field {
    width: 220px;
    padding: 10px 15px;
    border: none;
}