@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic,cyrillic-ext);

* {
	padding: 0;
	margin: 0;
	outline: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #444;
}

a {
	color: #2C82C9;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    color: #455056;
}

form > .form_text {
	width: 300px;
	padding: 15px 20px;
	color: #444;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	font-size: 12px;
	margin-bottom: 15px;
}

form > .form_btn {
	width: 342px;
	background: transparent;
	border: 1px solid #1ABC9C;
	border-radius: 3px;
	color: #1ABC9C;
	padding: 15px 20px;
	text-transform: uppercase;
}

form > .danger{
	width: 300px;
	padding: 30px;
	overflow: hidden;
	border: 1px solid #EF403D;
	text-align: center;
	margin-bottom: 10px;
}

form > .danger > ul > li {
	list-style-type: none;
	color: #EF403D;
	margin-bottom: 15px;
}

form > .danger > ul > li:last-child {
	margin-bottom: 0px;
}

/* HEADER */

header {
	width: 100%;
	height: 66px;
	background: #2D3E50;
}

header > #h_cont {
	width: 1000px;
	overflow: hidden;
	margin: 0px auto;
	line-height: 66px;
}

header > #h_cont > #h_logo {
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
}

header > #h_cont > #h_menu {
	margin-left: 10px;
	float: left;
}

header > #h_cont > #h_menu > li {
	display: inline-block;
}

header > #h_cont > #h_menu > li:last-child {
	margin-right: 0px;
}

header > #h_cont > #h_menu > li > a {
	color: #e0e0e0;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
	padding: 0px 10px;
	font-weight: 300;
}

header > #h_cont > .login_or_reg {
	float: right;
}

header > #h_cont > .login_or_reg > a {
	color: #1ABC9C;
	text-transform: uppercase;
	border: 2px solid #1ABC9C;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 13px;
}

header > #h_cont > .h_user {
	width: 260px;
	height: 66px;
	background: #2e3c4a;
	padding: 0px 20px;
	float: right;
}

header > #h_cont > .h_user > a  > .avatar > img {
	width: 55px;
	border-radius: 100px;
	margin-top: 4px;
	float: right;
}

header > #h_cont > .h_user > a > .nickname {
	color: #e0e0e0;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
}

.header_alert {
	width: 100%;
	text-align: center;
	padding: 20px 0px;
	color: #fff;
	text-transform: uppercase;
}

.header_error_message {
	background: #EB6B56;
}

.header_success_message {
	background: #1ABC9C;
}

/* END HEADER */

/* CREATING HEROSHOT */

#heroshot {
	width: 100%;
	padding: 50px 0px;
	background: #34495E;
	border-bottom: 2px solid #2D3E50;
}

#heroshot > #heroshot_content {
	width: 1000px;
	overflow: hidden;
	margin: 0px auto;
}

#heroshot > #heroshot_content > h1 {
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

#heroshot > #heroshot_content > p {
	text-align: center;
	color: #fff;
	margin-top: 20px;
	line-height: 25px;
	opacity: 0.9;
	letter-spacing: 0.5px;
}

#heroshot > #heroshot_content > #heroshot_buttons {
	width: 430px;
	margin: 0px auto;
	margin-top: 20px;
}

#heroshot > #heroshot_content > #heroshot_buttons > .heroshot_btn {
	text-transform: uppercase;
	display: inline-block;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 3px;
	padding: 10px 20px;
} 

#heroshot > #heroshot_content > #heroshot_buttons > .heroshot_btn:hover {
	color: #fff;
	border-color: #fff;	
}

#heroshot > #heroshot_content > #heroshot_buttons > .heroshot_btn:first-child {
	border-color: #EB6B56;
}

#heroshot > #heroshot_content > #heroshot_buttons > .heroshot_btn:first-child > a {
	color: #EB6B56;
	text-decoration: none;
}

#heroshot > #heroshot_content > #heroshot_buttons > .heroshot_btn:last-child {
	border-color: #1ABC9C;
	float: right;
}

#heroshot > #heroshot_content > #heroshot_buttons > .heroshot_btn:last-child > a {
	color: #1ABC9C;
	text-decoration: none;
}

/* END HEROSHOT */

/* CREATING CONTENT */

.wrapper {
	width: 1000px;
	overflow: hidden;
	margin: 30px auto;
}

.wrapper > .page {
	width: 1000px;
	overflow: hidden;
}

.wrapper > .page > .page_title {
	color: #2D3E50;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 15px;
	border-bottom: 1px solid #f0f0f0;
}

.wrapper > .page > p {
	margin-top: 10px;
	line-height: 22px;
	font-size: 15px;
	color: #444;
	letter-spacing: 0.5px;
}

.wrapper > .page > .left_col {
	width: 500px;
	overflow: hidden;
	float: left;
}


.page > #blogers {
	width: 790px;
	margin: 20px auto;
}

.page > #blogers > .bloger {
	width: 100px;
	overflow: hidden;
	text-align: center;
	padding: 30px;
	border: 2px solid #f0f0f0;
	border-radius: 3px;
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 20px;
	vertical-align: top;
}

.page > #blogers > .bloger:nth-child(4n) {
	margin-right: 0;
}

.page > #blogers > .bloger > img {
	border-radius: 100px;
}

.page > #blogers > .bloger > div > .nick, .subscribers {
	color: #444;
}

.page > #blogers > .bloger > .profile_subscribers {
	margin-bottom: 20px;
}

.page > #blogers > .bloger > .profile_btn {
	margin-bottom: 30px;
}

.page > #blogers > .bloger > .profile_btn:last-child {
	margin-bottom: 0;
}

.page > #blogers > .bloger > .profile_btn > a {
	width: 100px;
	padding: 10px 20px;
	color: #1ABC9C;
	text-transform: uppercase;
	border: 1px solid #1ABC9C;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
}

.page > #blogers > .bloger > .profile_btn > .ytb {
	border-color: #EB6B56;
	color: #EB6B56;
}

.page > #blogers > .bloger > .profile_btn > .twh {
	border-color: #2D3E50;
	color: #2D3E50;
}

.page > #reg_form {
	width: 439px;
	overflow: hidden;
	padding: 30px;
	border-right: 1px solid #f0f0f0;
}

.page > #ent_form {
	width: 439px;
	overflow: hidden;
	padding: 30px;
	float: right;
}

/* END CONTENT */

/* FOOTER */

footer {
	width: 100%;
	padding: 30px 0px;
	text-align: center;
	color: #e0e0e0;
	background: #2D3E50;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold;
	display: none;
}

/* END FOOTER */




